<!-- views/partials/head.ejs -->

<title><%= title %> - Microblog</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
 <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
} </style>
<link rel="stylesheet" href="stylesheets/bootstrap-responsive.css" >
