<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body class="container">

  <header>
    <% include partials/header %>
  </header>

  <main>
    <% if (success) { %>
      <div class="alert alert-success">
        <%= success %>
      </div>
    <% } %>
    <% if (error) { %>
      <div class="alert alert-error">
        <%= error %>
      </div>
    <% } %>
