<% include header %>
<form class="form-horizontal" method="post">
  <fieldset>
    <legend>用户登入</legend>
    <div class="control-group">
       <label for="username" class="control-label">用户名</label>
       <div class="controls">
          <input type="text" name="username" class="input-xlarge" id="username">
       </div>
    </div>
    <div class="control-group">
      <label for="password" class="control-label">口令</label>
      <div class="controls">
         <input type="password" name="password" class="input-xlarge" id="password">
      </div>
    </div>

    <div class="form-actions">
       <button type="submit" class="btn btn-primary" >登录</button>
    </div>
  </fieldset>
</form>
<% include footer %>
